<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.css">
</head>
<body>
    <div class="grid container">
        <div class="grid-x grid-padding-x">
            <h1 class="subheader text-center">Astronomy Picture of the Day</h1>
            <div class="callout alert">
                <iframe width="750" height="500" src="{{ pic }}"></iframe><br>
                <div class="callout primary lead">
                    <p>{{ para }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>