<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>
            {{ title }}
        </title>

        <style>
        table, th, td {
            border: 1px solid black
        }

        th, td {
            padding: 15px
        }
        </style>
    </head>
    <body>
        <h1 align = "center">
            {{ header }}
        </h1>
        <h2 align = "center">
            {{ Discription }}
            {{ extra }}
        </h2>
        <table align = "center">
            <tr>
                <td>
                    <b>Occupation</b>
                </td>
                
                <td>
                    <b>Percent</b>
                </td>
            </tr>
                {% for key in dictionary %}
                    <td>
                        {{ key }}
                    </td>
                    
                    <td>
                        {{ dictionary[key] }}
                    </td>
                    
                    <tr></tr>
                {% endfor %}
        </table>
        
    </body>
</html>