<!DOCTYPE html>
<html>
  <body>

    <head>
      <style>
	table, th, td {
	border: 1px solid black;
	}
      </style>
      <title>{{ title }}</title>
    </head>
	
	<h1> {{ header }} </h1>
	<p> <i>{{ info}} </i> </p>
	<hr>
    
    <h3>Generating Random Occupation: {{randOcc}}</h3>

    <table style="width:100%">
      <tr>
	<th> Job Class </th>
	<th> Percentage </th>
      </tr>

      {% for occupation in occDict %}
      <tr>
	<td> {{occupation}}</td>
	<td> {{occDict[occupation]}}</td>
      </tr>
      {% endfor %}

  </body>
</html>