{# Ahnaf Hasan #}
{# SoftDev pd07 #}
{# K13 Echo Echo Echo #}
{# 2018-09-27 #}

<!DOCTYPE html>
<html>
  <body>
    <head>
      <style>
      </style>
      <h1 align="center">Yer a wizzard, {{ user }}!</h1> {# regardless of whether or not it's GET or POST, user #} 
                                                         {# will either be the username or "Anon" #}
    </head>
    <center><img src="../static/harry.jpg" alt="I'm a what?"></center>
    <h1 align="center">Welcome aboard!</h1>
    <h3><br>This method was used: {{ method }}. <br><a href="/">Click here to go back to the front page</a></h3>
  </body>
</html>
