<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Register for an Account</title>
    </head>
    <body style=" background-color:deepskyblue;">
        <h2 style="font-size:300%; color:white; text-align:center;">Register for an Account</h2> {# Registering actually doesn't work, feels reals tho #}
        <form action="/redir" style="text-align:center;" method="POST">
            Choose your username:<input type="text" name="newUser"><br>
            Choose a password:<input type="password" name="newPass"><br>
            Retype your password:<input type="password"><br>
            <input type="submit" value="Register">
    </body>
</html>